__pycache__/
*.pyc
.env
.vscode/

01_input/
02_input/
03_input/
04_input/
05_input/
06_input/

01_processed/
02_processed/
03_processed/
04_processed/
05_processed/
06_processed/

01_failed/
02_failed/
03_failed/
04_failed/
05_failed/
06_failed/
